{% set script_list = [] %}
{% for script in scripts %}
<div hidden>{{ script_list.append(script['name']) }}</div>
{% endfor %}
{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script language="javascript" type="text/javascript">
function getObjProps(obj) {
  var props = [];
  for (var i in obj) {
    if (obj.hasOwnProperty(i)) {
      props.push(i);
    }
  }
  return props.sort();
}
function dynamicdropdown(elem)
{
  var script_list = {{ script_list | tojson }};
  var elem_split = elem.id.split('_');

  var associate_form = document.getElementById("script_association");
  // Delete any children whose name matches this identifier
  var changed_scripts = associate_form.getElementsByClassName("script_name");
  for (i = 0; i < changed_scripts.length; i++) {
    if (changed_scripts[i].name === elem_split[0]) {
      associate_form.removeChild(changed_scripts[i]);
    }
  }

  if (elem.value !== "") {
    var input = document.createElement("input");
    input.type = "hidden";
    input.className = "script_list";
    input.id = elem.id;
    input.name = elem.id;
    input.value = elem.value;
    associate_form.appendChild(input);
  }
}
</script>
<div class="menu">
  <h1>ISOs</h1>
  <table class="table">
    <tr>
      <th>ISO Name</th>
      <th>Status</th>
      <th>Pre-Bootstrap-Script</th>
      <th>Post-Bootstrap-Script</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
{%- for iso in isos %}
    <tr>
      <td>{{ iso['name'] }}</td>
      <td>{{ iso['status'] }}</td>
  {%- if iso['pre_bootstrap_script'] %}
      <td>{{ iso['pre_bootstrap_script'] }}</td>
  {%- else %}
      <td>
        <select id="{{ iso['id'] }}_pre" name="{{ iso['id'] }}_pre" onchange="javascript: dynamicdropdown(this);">
          <option value="">Select script</option>
    {%- for script in script_list %}
          <option value="{{ script }}">{{ script }}</option>
    {%- endfor %}
        </select>
      </td>
  {%- endif %}
  {%- if iso['post_bootstrap_script'] %}
      <td>{{ iso['post_bootstrap_script'] }}</td>
  {%- else %}
      <td>
        <select id="{{ iso['id'] }}_post" name="{{ iso['id'] }}_post" onchange="javascript: dynamicdropdown(this);">
          <option value="">Select script</option>
    {%- for script in script_list %}
          <option value="{{ script }}">{{ script }}</option>
    {%- endfor %}
        </select>
      </td>
  {%- endif %}
      <td>{% if active == iso['name'] %}X{% endif %}</td>
      <td>
          <a href="{{ url_for('iso.delete', name=iso['name']) }}">Delete</a>
              {% if active != iso['name'] %}
          {% if iso['status'] == 'Ready' %}
          &nbsp<a href="{{ url_for('iso.update_active', name=iso['name']) }}">Set as Active</a>
              {% endif %}
          {% endif %}
          {% if iso['pre_bootstrap_script'] %}
          &nbsp<a href="{{ url_for('iso.clear_script', iso_id=iso['id'], script_type='pre') }}">Remove Pre Bootstrap Script</a>
          {% endif %}
          {% if iso['post_bootstrap_script'] %}
          &nbsp<a href="{{ url_for('iso.clear_script', iso_id=iso['id'], script_type='post') }}">Remove Post Bootstrap Script</a>
          {% endif %}
      </td>
    </tr>
{%- endfor %}
  </table>
  <br>
  <form id="script_association" action="/iso/script_associate" method="post">
    <input type="Submit" value="Associate Scripts">
  </form>
</div>
<div class="help_text">
  <H2>ISO List</H2>
  <P>This table will show all ISOs that are either staged or in progress of downloading. A status of "Ready" implies that an ISO is staged and ready to be used for blasting. Only one ISO can be active for blasting at a time and is indicated by an "X" in the Active column.  Click the "Set as Active" link next to an ISO to toggle this status.</P>
  <P>Clicking the "Delete" link will remove the staged ISO from the disk to free up space when it is no longer needed</P>
  <P>A status of "Processing" indicates a download is in progress.  Depending on Internet connection speed, this should take no more than 30 minutes.  If this status does not change, logs should be investigated. A status of failed indicates there was a problem either downloading or staging the ISO.</P>
  <P>Relevant logs can be found by entering the docker container via <span class="code">docker exec -it blaster_webapp_1 bash</span> and from there checking the log files found in <span class="code">/var/log/celery</span>.</P>
  <P>If an ISO fails or is stuck in processing, it should be deleted after investigating the issue.</P>
</div>
{% endblock %}
