{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class=menu>
  <h1>Nodes</h1>
  <table>
    <tr>
      <th>Hardware Identifier</th>
      <th>ISO Name</th>
      <th>Conductor Name</th>
      <th>Router Name</th>
      <th>Node Name</th>
      <th>Asset ID</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
{%- for node in nodes %}
    <tr>
      <td>{{ node['identifier'] }}</td>
      <td>{% if node['iso_id'] %}{{ node['iso_id'] }}{% endif %}</td>
      <td>{% if node['conductor_name'] %}{{ node['conductor_name'] }}{% endif %}</td>
      <td>{% if node['router_name'] %}{{ node['router_name'] }}{% endif %}</td>
      <td>{% if node['node_name'] %}{{ node['node_name'] }}{% endif %}</td>
      <td>{% if node['asset_id'] %}{{ node['asset_id'] }}{% endif %}</td>
      <td>{% if node['status'] %}{{ node['status'] }}{% endif %}</td>
      <td>
        <a href="{{ url_for('node.delete', id=node['identifier']) }}">Delete</a>
{%- if node['router_name'] %}
        <a href="{{ url_for('node.disassociate', identifier=node['identifier']) }}">Clear Quickstart</a>
{%- endif %}
      <td>
    </tr>
{%- endfor %}
  </table>
  <form action="/node/fetch" method="post">
    <input type="Submit" value="Fetch Quickstarts">
  </form>
</div>
<div class="help_text">
  <H2>Managing Nodes</H2>
    <li><strong>Fetch Quickstarts</strong> - If your process is to provision systems in your conductor(s) using the system identifier, this button can be used to query all the conductors configured through the <strong>Manage Conductors</strong> menu to check for nodes whose asset id match any "Blasted" but not "Bootstrapped" nodes. If a match is found, the quickstart will be downloaded from the conductor and the quickstart association will automatically be made.
  </ul>
</div>
{% endblock %}
