{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="menu">
  <h1>Nodes</h1>
  <form method="post" enctype=multipart/form-data>
{%- for quickstart in quickstarts %}
    <input type="radio" name="qs_id" id="{{ quickstart['id'] }}" value="{{ quickstart['id'] }}">
    <label for="{{ quickstart['id'] }}">{{ quickstart['conductor_name'] }}:{{ quickstart['node_name'] }}.{{ quickstart['router_name'] }}</label><br>
{%- endfor %}
    <label for="identifier">Choose a blasted Node:</label>
    <select name="identifier" id="indentifier">
{%- for node in nodes %}
{%-     if not node['quickstart_id'] %}
      <option value="{{ node['identifier'] }}">{{ node['identifier'] }}</option>
{%-     endif %}
{%- endfor %}
    </select>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
<div class="help_text">
  <H2>Managing Nodes</H2>
  <P>To associate a quickstart with a node, first select the appropriate quickstart's radio button then select the node's hardware identifier from the drop down list</P>
</div>
{% endblock %}
