{% extends "layout.html" %}
{% block body %}
<div class="menu">
  <h1>Nodes</h1>
  <ul>
      <li><a href="{{ url_for('node.list') }}">List Nodes</a>
      <li><a href="{{ url_for('node.associate') }}">Associate Nodes with Quickstarts<a>
  </ul>
</div>
<div class="help_text">
  <H2>Managing Nodes</H2>
  <ul>
    <li><strong>List Nodes</strong> - After a system has been installed via PXE boot from the blaster, it will power itself off. At that point, you should see the node appear in this page. Here you will see a table of nodes showing along with each node's hardware identifier (typically the serial number if the vendor has burned this into DMI memory) and the ISO that the system was blasted with. After a quickstart is associated with the node using the second link from this page you will see the conductor name, router name, and node name based on the quickstart definition from the <strong>Manage Quickstarts</strong> menu. The status will show "Blasted" after a system has had the ISO installed via PXE boot.  It will show "Bootstrapped" after the system successfully retrieves a quickstart from the blaster.
    <li><strong>Associate Nodes with Quickstarts</strong> - Use this page to make the association between a particular piece of hardware and a logical 128T node configuration. This should be done after the ISO installation finishes and before powering the system on following that install. If the system is powered on before this association, the system will either bootstrap itself with a default quickstart if one has been set (see <strong>Manage Quickstarts</strong>) or fallback to the OTP default configuration allowing quickstarts to be associated through a web GUI drag-and-drop action.
    <li><strong>Fetch Quickstarts</strong> - If your process is to provision systems in your conductor(s) using the system identifier, this button can be used to query all the conductors configured through the <strong>Manage Conductors</strong> menu to check for nodes whose asset id match any "Blasted" but not "Bootstrapped" nodes. If a match is found, the quickstart will be downloaded from the conductor and the quickstart association will automatically be made.
  </ul>
</div>
{% endblock %}
