{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Nodes</h1>
  <form method="post" enctype=multipart/form-data>
{%- for quickstart in quickstarts %}
    <input type="radio" name="qs_id" id="{{ quickstart['id'] }}" value="{{ quickstart['id'] }}">
    <label for="{{ quickstart['id'] }}">{{ quickstart['conductor_name'] }}:{{ quickstart['node_name'] }}.{{ quickstart['router_name'] }}</label><br>
{%- endfor %}
    <label for="identifier">Choose a blasted Node:</label>
    <select name="identifier" id="indentifier">
{%- for node in nodes %}
      <option value="{{ node['identifier'] }}">{{ node['identifier'] }}</option>
{%- endfor %}
    </select>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</nav>
{% endblock %}
