{% extends "layout.html" %}
{% block body %}
<div class="menu">
<h1>Passwords</h1>
<h2>Manage Passwords</h2>
{%- if passwords %}
<table class="table">
  <tr>
    <th>Username</th>
    <th>Encrypted Password</th>
    <th>Action</th>
  </tr>
{%- for password in passwords %}
  <tr>
    <td>{{ password['username'] }}</td>
    <td>{{ password['password_hash'] }}</td>
    <td>
      <a href="{{ url_for('password.delete', username=password['username']) }}">Delete</a>
    </td>
  </tr>
{%- endfor %}
</table>
{%- endif %}
<br>
<form method="post" action="/password/modify" enctype=multipart/form-data>
  <label for="username">Username</label>
  <select name="username" id="username">
    <option value="t128">t128</option>
    <option value="root">root</option>
  </select>
  <br>
  <br>
  <label for="password">Enter password</label>
  <input type="password" name="password">
  <br>
  <label for="VerifyPassword">Verify password</label>
  <input type="password" name="VerifyPassword">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
<form method="post" action="/password/update_isos">
  <input type="submit" value="Update ISOs">
</form>
</div>
<div class="help_text">
  <H2>Managing Passwords</H2>
  <P>The 128T ISOs include a default password. If you wish to override these passwords with your own, it can be done from this page. Simply select the username from the dropdown list (only root and the default t128 user passwords can be set at this time), enter your desired password, enter the same password again to verify, and click the Submit button. The blaster will create a valid Linux password hash for this password and store it to the local database. Any custom password hashes created will be shown in a table on this page.</P>
  <P>When custom passwords are set here, the password values will be overriden for any new ISOs downloaded from the <strong>Manage Passwords</strong> menu. ISOs that have previously been downloaded will only have their passwords updated after clicking the Update ISOs button.</P>
  <P>If custom passwords are deleted, clicking the Update ISOs button will restore the default 128T passwords.</P>
</div>
{% endblock %}
