{% extends "layout.html" %}
{% block body %}
<nav>
<h1>Passwords</h1>
<h2>Manage Passwords</h2>
{%- if passwords %}
<table>
  <tr>
    <th>Username</th>
    <th>Encrypted Password</th>
    <th>Action</th>
  </tr>
{%- for password in passwords %}
  <tr>
    <td>{{ password['username'] }}</td>
    <td>{{ password['password_hash'] }}</td>
    <td>
      <a href="{{ url_for('password.delete', username=password['username']) }}">Delete</a>
    </td>
  </tr>
{%- endfor %}
</table>
{%- endif %}
<br>
<form method="post" action="/password/modify" enctype=multipart/form-data>
  <label for="username">Username</label>
  <select name="username" id="username">
    <option value="t128">t128</option>
    <option value="root">root</option>
  </select>
  <br>
  <br>
  <label for="password">Enter password</label>
  <input type="password" name="password">
  <br>
  <label for="VerifyPassword">Verify password</label>
  <input type="password" name="VerifyPassword">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
<form method="post" action="/password/update_isos">
  <input type="submit" value="Update ISOs">
</form>
</nav>
{% endblock %}
