{% extends "layout.html" %}
{% block body %}
<nav>
<h1>Quickstarts</h1>
<h2>Add New Quickstart</h2>
<form method="post" enctype=multipart/form-data>
  <label for="quickstart">Quickstart</label>
  <input type="file" id="file" name="file">
  <br>
  <label for="conductor">Conductor</label>
  <input type="text" id="conductor" name="conductor">
  <br>
  <label for="router">Router Name</label>
  <input type="text" id="router" name="router">
  <br>
  <label for="description">Description</label>
  <input type="text" id="description" name="description">
  <br>
  <input type="submit" value="upload">
</form>
</nav>
{% endblock %}
