{% extends "layout.html" %}
{% block body %}
<nav>
<h1>Quickstarts</h1>
<h2>Add New Quickstart</h2>
<form method="post" enctype=multipart/form-data>
  <label for="quickstart">Quickstart</label>
  <input type="file" name="file">
  <br>
  <label for="password">Quickstart Password</label>
  <input type="password" name="password">
  <br>
  <label for="router">Router Name</label>
  <input type="text" name="router">
  <br>
  <label for="node">Node Name</label>
  <input type="text" name="node">
  <br>
  <label for="conductor>Conductor</label>
  <input type="text" name="conductor">
  <br>
  <label for="description>Description</label>
  <input type="text" name="description">
  <input type="submit" value="upload">
</form>
</nav>
{% endblock %}
