{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="menu">
  <h1>Quickstarts</h1>
  <table class="table">
    <tr>
      <th>Conductor</th>
      <th>Router</th>
      <th>Node</th>
      <th>Asset</th>
      <th>Description</th>
      <th>Default</th>
      <th>Actions</th>
    </tr>
{%- for quickstart in quickstarts %}
    <tr>
      <td>{{ quickstart['conductor_name'] }}</td>
      <td>{{ quickstart['router_name'] }}</td>
      <td>{{ quickstart['node_name'] }}</td>
      <td>{% if quickstart['asset_id'] %}{{ quickstart['asset_id'] }}{% endif %}</td>
      <td>{{ quickstart['description'] }}</td>
      <td>{% if quickstart['default_quickstart']|int > 0 %}X{% endif %}</td>
      <td>
          <a href="{{ url_for('manage_quickstart.delete', id=quickstart['id']) }}">Delete</a>
          {% if quickstart['default_quickstart']|int == 0 and quickstart['asset_id'] == None %}
          &nbsp
          <a href="{{ url_for('manage_quickstart.set_as_default', id=quickstart['id']) }}">Set as Default</a>
          {% endif %}
          {% if quickstart['default_quickstart']|int > 0 %}
          &nbsp
          <a href="{{ url_for('manage_quickstart.clear_default', id=quickstart['id']) }}">Unset as Default</a>
          {% endif %}
          {% if quickstart['asset_id'] %}
          &nbsp
          <a href="{{ url_for('manage_quickstart.remove_asset', id=quickstart['id']) }}">Remove Asset ID</a>
          {% endif %}
      </td>
    </tr>
{%- endfor %}
  </table>
</div>
<div class="help_text">
  <H2>Managing Quickstarts</H2>
  <P>This table lists all of the quickstart files available to use for bootstrapping. Entries can be removed from the blaster by clicking the "Delete" link.</P>
  <P>A single quickstart can be set as a "default quickstart". A default quickstart will be offered to any system that requests a quickstart and that system's identifier does not exist in the node table (see <strong>Manage Nodes</strong>). Otherwise, a system whose identifier does not exist in the node table will receive a 404 response from the blsater and will fall back to the default OTP configuration, which provides a method to assign a quickstart file through a web GUI using a drag and drop method.</P>
  <P>Note: In order to be set as a default quickstart, the quickstart must not have an asset identifier. This will instruct the OTP image to set the node's asset id to match the system identifier (typically the system serial number). An asset can be removed from an existing quickstart by clicking the "Remove Asset ID" link. The asset ID cannot be re-added for this quickstart. If a mistake was made, please delete the quickstart and add the quickstart back to the blaster.</P>
</div>
{% endblock %}
